{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
<div class="container">
	<h1><strong>Say hello to the marketing strategy!</strong></h1>
	<p>This is <em>userskel</em>. A skel (or template, if you prefer) implement simple views for users to sign up, log in, profile, change password, reset password, etc.</p>
	<p><a class="btn btn-primary btn-lg" href="#" role="button">Buy</a></p>
</div> <!-- container -->
</div> <!-- jumbotron -->

<div class="container">
<div class="row">

<div class="col-md-4">
	<h2>Heading</h2>
	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
</div>

<div class="col-md-4">
	<h2>Heading</h2>
	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
</div>

<div class="col-md-4">
	<h2>Heading</h2>
	<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
</div>

</div> <!-- row -->

<hr>

<footer><p>&copy; 2018 Company, Inc.</p></footer>
</div> <!-- container -->
{% endblock %}
