{% extends "./base_user.html" %}

{% load bootstrap4 %}

{% block user_form %}
    <h2>Log in</h2>

    <form action="{% url 'login' %}" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_messages %}
        {% bootstrap_form form %}
        {% bootstrap_button button_type="submit" content="Log in" button_class="btn-primary" size="large" %}

        {# redirect #}
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
{% endblock user_form %}

{% block user_form_footer %}
    <small><a href="{% url 'password_reset' %}">Forgot password</a></small><small class="ml-3">Don't have an account? <a href="{% url 'user_create' %}">Sign Up</a></small>
{% endblock user_form_footer %}
