{% extends "base.html" %}

{% load bootstrap4 %}

{% block content %}
<div class="container">
<div class="row">

<div class="col-md-3"></div>

<div class="col-md-6">
<div class="jumbotron">
    <h2>Reset password confirm</h2>

    <form action="#" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_messages %}
        {% bootstrap_form form %}
        {% bootstrap_button button_type="submit" content="Reset password" button_class="btn-primary" size="large" %}

        {# redirect #}
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div> <!-- jumbotron -->
</div> <!-- col-md -->

<div class="col-md-3"></div>

</div> <!-- row -->
</div> <!-- container -->
{% endblock %}
